<!--    Clinical History-->
<div class="row">
    <div class="col-md-push-1 col-sm-12 col-md-10 ttiss-block">
        <div class="">
            <div class="ttiss-heading">
                <h3 class="panel-title text-uppercase">2. Clinical
                    History</h3>
            </div>
            <div class="row ttiss-body">
                <div class="col-sm-8 div-vert">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Blood Group</label>
                            <div data-bind="foreach: fields.blood_group_abc, redcapRequired: data.blood_group_abc">
                                <label class="radio-inline">
                                    <input type="radio" id="blood_group_abc" data-bind="value:value,checked:$root.data.blood_group_abc"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.blood_group_abc' class="text-muted clickable">Reset
                            </small>
                        </div>
                        <div class="col-sm-6">
                            <label>Rh Group</label>
                            <div data-bind="foreach: fields.blood_group_rh, redcapRequired: data.blood_group_rh">
                                <label class="radio-inline">
                                    <input type="radio" id="blood_group_rh" data-bind="value:value,checked:$root.data.blood_group_rh"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.blood_group_rh' class="text-muted clickable">Reset
                            </small>
                        </div>
                    </div>
                    <div data-bind="visible: data.sex() == 2" class="row">
                        <div class="col-sm-12">
                            <label>Pregnancies/Miscarriages</label>
                            <div data-bind="foreach: fields.preg_miscarrig">
                                <label class="radio-inline">
                                    <input type="radio" id="preg_miscarrig" data-bind="value:value,checked:$root.data.preg_miscarrig"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.preg_miscarrig' class="text-muted clickable">Reset
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label> Transfusions
                            </label>
                            <div data-bind="foreach: fields.trans">
                                <label class="radio-inline">
                                    <input type="radio" id="trans" data-bind="value:value,checked:$root.data.trans"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.trans' class="text-muted clickable">Reset</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Immune-Compromised</label>
                            <div data-bind="foreach: fields.immunecompr">
                                <label class="radio-inline">
                                    <input type="radio" id="immunecompr" data-bind="value:value,checked:$root.data.immunecompr"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.immunecompr' class="text-muted clickable">Reset</small>
                        </div>
                        <div class="col-sm-7">
                            <div data-bind="visible: data.immunecompr() == 1" class="form-group">
                                <label for="immunecompr_desc">Describe</label>
                                <input class="form-control" id="immunecompr_desc" type="text" data-bind="textInput: data.immunecompr_desc">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="patient_diagnosis">Patient
                                    Diagnosis/Category</label>
                                <select data-bind="
                                                options: fields.patient_diagnosis,
                                                optionsText: 'label',
                                                optionsValue: 'value',
                                                optionsCaption: '---',
                                                value: data.patient_diagnosis"
                                        class="form-control" id="patient_diagnosis">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="other_history">Other Clinical History</label>
                                <div data-bind="foreach: fields.other_history">
                                    <label class="radio-inline">
                                        <input type="radio" id="other_history" data-bind="value:value,checked:$root.data.other_history"><span data-bind="text:label"></span>
                                    </label>
                                </div>
                                <small data-bind='redcapReset: data.other_history' class="text-muted clickable">Reset
                                </small>

                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: data.other_history() == 1" class="row">
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <label for="other_history">Describe</label>
                                <input type="text" class="form-control" data-bind="textInput:data.other_history_spec">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>