<!--    Recipient Ident-->
<div class="row">
    <div class="col-md-push-1 col-sm-12 col-md-10 ttiss-block">
        <div class="">
            <div class="ttiss-heading">
                <h3 class="panel-title text-uppercase">6. Measure Taken</h3>
            </div>
            <div class="row ttiss-body">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___0">
                                            <input id="no_measures___0" data-bind="redcapChecked: data.no_measures___0" type="checkbox">
                                            <span data-bind="text: fields.no_measures___0()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___1">
                                            <input id="no_measures___1" data-bind="redcapChecked: data.no_measures___1" type="checkbox">
                                            <span data-bind="text: fields.no_measures___1()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___2">
                                            <input id="no_measures___2" data-bind="redcapChecked: data.no_measures___2" type="checkbox">
                                            <span data-bind="text: fields.no_measures___2()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___3">
                                            <input id="no_measures___3" data-bind="redcapChecked: data.no_measures___3" type="checkbox">
                                            <span data-bind="text: fields.no_measures___3()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___4">
                                            <input id="no_measures___4" data-bind="redcapChecked: data.no_measures___4" type="checkbox">
                                            <span data-bind="text: fields.no_measures___4()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___5">
                                            <input id="no_measures___5" data-bind="redcapChecked: data.no_measures___5" type="checkbox">
                                            <span data-bind="text: fields.no_measures___5()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___6">
                                            <input id="no_measures___6" data-bind="redcapChecked: data.no_measures___6" type="checkbox">
                                            <span data-bind="text: fields.no_measures___6()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___7">
                                            <input id="no_measures___7" data-bind="redcapChecked: data.no_measures___7" type="checkbox">
                                            <span data-bind="text: fields.no_measures___7()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: data.no_measures___7() == '1'" class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="diure_effect">
                                            <input id="diure_effect" data-bind="redcapChecked: data.diure_effect" type="checkbox">
                                            .... Effective
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-3">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___8">
                                            <input id="no_measures___8" data-bind="redcapChecked: data.no_measures___8" type="checkbox">
                                            <span data-bind="text: fields.no_measures___8()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___9">
                                            <input id="no_measures___9" data-bind="redcapChecked: data.no_measures___9" type="checkbox">
                                            <span data-bind="text: fields.no_measures___9()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___10">
                                            <input id="no_measures___10" data-bind="redcapChecked: data.no_measures___10" type="checkbox">
                                            <span data-bind="text: fields.no_measures___10()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___11">
                                            <input id="no_measures___11" data-bind="redcapChecked: data.no_measures___11" type="checkbox">
                                            <span data-bind="text: fields.no_measures___11()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: data.no_measures___11() == '1'" class="row">
                                <div class="col-sm-8 col-sm-push-4">
                                    <div class="form-group-sm">
                                        <input id="mech_vent_dur" placeholder="Duration" data-bind="textInput: data.mech_vent_dur" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-3">


                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___12">
                                            <input id="no_measures___12" data-bind="redcapChecked: data.no_measures___12" type="checkbox">
                                            <span data-bind="text: fields.no_measures___12()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___13">
                                            <input id="no_measures___13" data-bind="redcapChecked: data.no_measures___13" type="checkbox">
                                            <span data-bind="text: fields.no_measures___13()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___14">
                                            <input id="no_measures___14" data-bind="redcapChecked: data.no_measures___14" type="checkbox">
                                            <span data-bind="text: fields.no_measures___14()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <label for="no_measures___15">
                                            <input id="no_measures___15" data-bind="redcapChecked: data.no_measures___15" type="checkbox">
                                            <span data-bind="text: fields.no_measures___15()[0].label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label for="no_measures___16">
                                    <input id="no_measures___16" type="checkbox" data-bind="redcapChecked: data.no_measures___16">
                                    <span data-bind="text: fields.no_measures___16()[0].label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: data.no_measures___16() == '1'" class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="other_mesu_spec">Please Specify</label>
                                <textarea class="form-control" id="other_mesu_spec" data-bind="textInput: data.other_mesu_spec"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>