<!-- Clinical Signs And Laboratory Results -->
<div class="row">
    <div class="col-md-push-1 col-sm-12 col-md-10 ttiss-block">
        <div class="ttiss-heading">
            <h3 class="panel-title text-uppercase"> 4. Clinical Signs And
                Laboratory Results </h3>
        </div>
        <div class="row ttiss-body">
            <div class="col-sm-12">
                <div class="row subsection">
                    <div class="col-sm-12">
                        4a. Clinical Signs and Symptoms
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Changes in Vital Signs</label>
                                <div data-bind="foreach: fields.clinical_signs">
                                    <label class="radio-inline">
                                        <input type="radio" id="clinical_signs" data-bind="value:value,checked:$root.data.clinical_signs"><span data-bind="text:label"></span>
                                    </label>
                                </div>
                                <small data-bind='redcapReset: data.clinical_signs' class="text-muted clickable">Reset
                                </small>
                            </div>
                        </div>
                        <div data-bind="visible: data.clinical_signs() == '1'" class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label for="no_sign___1">
                                        <input type="checkbox" id="no_sign___1" data-bind="redcapChecked: data.no_sign___1">
                                        <span data-bind="html:fields.no_sign___1()[0].label"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: data.no_sign___1() == '1' && data.clinical_signs() == '1'">
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="Before" data-bind="textInput:data.temp_before" id="temp_before">
                            </div>
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="After" data-bind="textInput:data.temp_after" id="temp_after">
                            </div>
                        </div>
                        <div data-bind="visible: data.clinical_signs() == '1'" class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label for="no_sign___2"><input type="checkbox" id="no_sign___2" data-bind="redcapChecked: data.no_sign___2"><span data-bind="html:fields.no_sign___2()[0].label"></span></label>
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: data.no_sign___2() === '1' && data.clinical_signs() == '1'" class="row">
                            <div class="form-group-sm col-sm-6">
                                <input type="text" placeholder="Before" class="form-control" data-bind="textInput:data.pulse_before" id="pulse_before">
                            </div>
                            <div class=" form-group-sm col-sm-6">
                                <input type="text" placeholder="After" class="form-control" data-bind="textInput:data.pulse_after" id="pulse_after">
                            </div>
                        </div>
                        <div data-bind="visible: data.clinical_signs() == '1'" class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label for="no_sign___3"><input type="checkbox" id="no_sign___3" data-bind="redcapChecked: data.no_sign___3"><span data-bind="html:fields.no_sign___3()[0].label"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: data.no_sign___3() === '1' && data.clinical_signs() == '1'">
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="Before" data-bind="textInput:data.resp_before" id="resp_before">
                            </div>
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="After" data-bind="textInput:data.resp_after" id="resp_after">
                            </div>
                        </div>
                        <div data-bind="visible: data.clinical_signs() == '1'" class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label for="no_sign___4"><input type="checkbox" id="no_sign___4" data-bind="redcapChecked: data.no_sign___4"><span data-bind="html:fields.no_sign___4()[0].label"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: data.no_sign___4() === '1' && data.clinical_signs() == '1'">
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="Before" data-bind="textInput:data.blood_pres_before" id="blood_pres_before">
                            </div>
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" placeholder="After" data-bind="textInput:data.blood_pres_after" id="blood_pres_after">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Other Clinical Symptoms</label>
                                <div data-bind="foreach: fields.other_signs">
                                    <label class="radio-inline">
                                        <input type="radio" id="other_signs" data-bind="value:value,checked:$root.data.other_signs"><span data-bind="text:label"></span>
                                    </label>
                                </div>
                                <small data-bind='redcapReset: data.other_signs' class="text-muted clickable">Reset
                                </small>
                            </div>
                        </div>
                        <div data-bind="visible: data.other_signs() == '1'">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___1"><input type="checkbox" id="other_no_sign2_834___1" data-bind="redcapChecked: data.other_no_sign2_834___1"><span data-bind="html:fields.other_no_sign2_834___1()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___2"><input type="checkbox" id="other_no_sign2_834___2" data-bind="redcapChecked: data.other_no_sign2_834___2"><span data-bind="html:fields.other_no_sign2_834___2()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___3"><input type="checkbox" id="other_no_sign2_834___3" data-bind="redcapChecked: data.other_no_sign2_834___3"><span data-bind="html:fields.other_no_sign2_834___3()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___4"><input type="checkbox" id="other_no_sign2_834___4" data-bind="redcapChecked: data.other_no_sign2_834___4"><span data-bind="html:fields.other_no_sign2_834___4()[0].label"></span></label>
                                    </div>

                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___5"><input type="checkbox" id="other_no_sign2_834___5" data-bind="redcapChecked: data.other_no_sign2_834___5"><span data-bind="html:fields.other_no_sign2_834___5()[0].label"></span></label>
                                    </div>

                                </div>
                            </div>
                            <div class="row" data-bind="visible: data.other_no_sign2_834___5() == '1'">
                                <div class="col-sm-2">0<sub>2</sub>&nbsp;sat</div>
                                <div class="col-sm-10">
                                    <div class="form-group-sm">
                                        <input type="text" class="form-control" data-bind="textInput: data.hypo_sat" id="hypo_sat">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___6"><input type="checkbox" id="other_no_sign2_834___6" data-bind="redcapChecked: data.other_no_sign2_834___6"><span data-bind="html:fields.other_no_sign2_834___6()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div data-bind="visible: data.other_signs() == '1'">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___7"><input type="checkbox" id="other_no_sign2_834___7" data-bind="redcapChecked: data.other_no_sign2_834___7"><span data-bind="html:fields.other_no_sign2_834___7()[0].label"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-bind="visible: data.other_no_sign2_834___7() == '1'">
                                <div class="col-sm-12">
                                    <div class="form-group-sm">
                                        <input id="pain_spec" type="text" placeholder="Please Specify" class="form-control" data-bind="textInput: data.pain_spec">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___8"><input type="checkbox" id="other_no_sign2_834___8" data-bind="redcapChecked: data.other_no_sign2_834___8"><span data-bind="html:fields.other_no_sign2_834___8()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___9"><input type="checkbox" id="other_no_sign2_834___9" data-bind="redcapChecked: data.other_no_sign2_834___9"><span data-bind="html:fields.other_no_sign2_834___9()[0].label"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___10"><input type="checkbox" id="other_no_sign2_834___10" data-bind="redcapChecked: data.other_no_sign2_834___10"><span data-bind="html:fields.other_no_sign2_834___10()[0].label"></span></label>
                                    </div>

                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___11"><input type="checkbox" id="other_no_sign2_834___11" data-bind="redcapChecked: data.other_no_sign2_834___11"><span data-bind="html:fields.other_no_sign2_834___11()[0].label"></span></label>
                                    </div>

                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___12"><input type="checkbox" id="other_no_sign2_834___12" data-bind="redcapChecked: data.other_no_sign2_834___12"><span data-bind="html:fields.other_no_sign2_834___12()[0].label"></span></label>
                                    </div>

                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class='nocaps' for="other_no_sign2_834___13"><input type="checkbox" id="other_no_sign2_834___13" data-bind="redcapChecked: data.other_no_sign2_834___13"><span data-bind="html:fields.other_no_sign2_834___13()[0].label"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: data.other_no_sign2_834___13() == '1'" class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Please Specify" data-bind="textInput: data.symp_other_spec" id="symp_other_spec"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row div-horz" data-bind="visible: data.other_no_sign2_834___13() == '1'">
                    <div class="col-sm-12">
                        <h4>
                            Other Symptoms - Specify
                        </h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___1"><input type="checkbox" id="moresymp___1" data-bind="redcapChecked: data.moresymp___1"><span data-bind="html:fields.moresymp___1()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___14"><input type="checkbox" id="moresymp___14" data-bind="redcapChecked: data.moresymp___14"><span data-bind="html:fields.moresymp___14()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___2"><input type="checkbox" id="moresymp___2" data-bind="redcapChecked: data.moresymp___2"><span data-bind="html:fields.moresymp___2()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___3"><input type="checkbox" id="moresymp___3" data-bind="redcapChecked: data.moresymp___3"><span data-bind="html:fields.moresymp___3()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___4"><input type="checkbox" id="moresymp___4" data-bind="redcapChecked: data.moresymp___4"><span data-bind="html:fields.moresymp___4()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___5"><input type="checkbox" id="moresymp___5" data-bind="redcapChecked: data.moresymp___5"><span data-bind="html:fields.moresymp___5()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___6"><input type="checkbox" id="moresymp___6" data-bind="redcapChecked: data.moresymp___6"><span data-bind="html:fields.moresymp___6()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___7"><input type="checkbox" id="moresymp___7" data-bind="redcapChecked: data.moresymp___7"><span data-bind="html:fields.moresymp___7()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___8"><input type="checkbox" id="moresymp___8" data-bind="redcapChecked: data.moresymp___8"><span data-bind="html:fields.moresymp___8()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___9"><input type="checkbox" id="moresymp___9" data-bind="redcapChecked: data.moresymp___9"><span data-bind="html:fields.moresymp___9()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___10"><input type="checkbox" id="moresymp___10" data-bind="redcapChecked: data.moresymp___10"><span data-bind="html:fields.moresymp___10()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___11"><input type="checkbox" id="moresymp___11" data-bind="redcapChecked: data.moresymp___11"><span data-bind="html:fields.moresymp___11()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___12"><input type="checkbox" id="moresymp___12" data-bind="redcapChecked: data.moresymp___12"><span data-bind="html:fields.moresymp___12()[0].label"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class='nocaps' for="moresymp___13"><input type="checkbox" id="moresymp___13" data-bind="redcapChecked: data.moresymp___13"><span data-bind="html:fields.moresymp___13()[0].label"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row div-horz">
                    <div class="col-sm-12">
                        <h4 class="">
                            Clinical information for TRALI
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="">
                            <label>Abnormal Chest X-ray</label>
                            <div data-bind="foreach: fields.xray_info">
                                <label class="radio-inline">
                                    <input type="radio" id="xray_info" data-bind="value:value,checked:$root.data.xray_info"><span data-bind="text:label"></span>
                                </label>
                            </div>
                            <small data-bind='redcapReset: data.xray_info' class="text-muted clickable">Reset
                            </small>
                        </div>
                    </div>
                    <div data-bind="visible: data.xray_info() == '1'" class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-bind="redcapChecked: data.bilat_infilt___1" id="bilat_infilt___1" class="">Bilateral
                                        Infiltrates
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-bind="redcapChecked: data.bilat_infilt___2" id="bilat_infilt___2" class="">Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: data.xray_info() == '1'" class="col-sm-4">
                        <div class="form-group-sm">
                            <label>Describe</label>
                            <input type="text" data-bind="textInput: data.xray_other" id="xray_other" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Evidence
                            of Circulatory Overload</label>
                        <div data-bind="foreach: fields.circul_overload">
                            <label class="radio-inline">
                                <input type="radio" id="circul_overload" data-bind="value:value,checked:$root.data.circul_overload"><span data-bind="text:label"></span>
                            </label>
                        </div>
                        <small data-bind='redcapReset: data.circul_overload' class="text-muted clickable">Reset
                        </small>
                    </div>
                    <div class="col-sm-8">
                        <div data-bind='visible: data.circul_overload() == "1"' class="form-group-sm">
                            <textarea data-bind='textInput: data.corcul_overload_spec' id="corcul_overload_spec" class="form-control" placeholder="Explain"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row subsection">
                    <div class="col-sm-12">
                        4b. Abnormal Tests/Laboratory Results
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        Abnormal Test Results
                        <div data-bind="foreach: fields.abnorm_test1">
                            <label class="radio-inline">
                                <input type="radio" id="abnorm_test1" data-bind="value:value,checked:$root.data.abnorm_test1"><span data-bind="text:label"></span>
                            </label>
                        </div>
                        <small data-bind='redcapReset: data.abnorm_test1' class="text-muted clickable">Reset
                        </small>
                    </div>
                </div>
                <div data-bind="visible: data.abnorm_test1() == '1'" class="row">
                    <table id="abnormal_test_table_no_margin" class="table table-bordered">
                        <thead>
                        <tr>
                            <th rowspan="2">Name of Test</th>
                            <th rowspan="2">Date Specimen Taken</th>
                            <th colspan="4">Results</th>
                        </tr>
                        <tr>
                            <th>Positive</th>
                            <th>Negative</th>
                            <th>Elevated</th>
                            <th>Decreased</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___1">
                                        <input id="name_abnorm_test___1" data-bind='redcapChecked: data.name_abnorm_test___1' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___1()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_anti_" data-bind="redcapDatePicker:data.date_anti_" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_antibody_" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_antibody_, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_antibody_, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_antibody_, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_antibody_, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___2">
                                        <input id="name_abnorm_test___2" data-bind='redcapChecked: data.name_abnorm_test___2' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___2()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_bilirubin" data-bind="redcapDatePicker:data.date_bilirubin" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_bilirubin" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bilirubin, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bilirubin, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bilirubin, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bilirubin, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___3">
                                        <input id="name_abnorm_test___3" data-bind='redcapChecked: data.name_abnorm_test___3' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___3()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_bnp" data-bind="redcapDatePicker:data.date_bnp" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_bnp" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bnp, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bnp, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bnp, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bnp, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___4">
                                        <input id="name_abnorm_test___4" data-bind='redcapChecked: data.name_abnorm_test___4' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___4()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_bun" data-bind="redcapDatePicker:data.date_bun" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_bun" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bun, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bun, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bun, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_bun, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___5">
                                        <input id="name_abnorm_test___5" data-bind='redcapChecked: data.name_abnorm_test___5' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___5()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_cbc" data-bind="redcapDatePicker:data.date_cbc" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_cbc" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_cbc, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_cbc, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_cbc, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_cbc, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___6">
                                        <input id="name_abnorm_test___6" data-bind='redcapChecked: data.name_abnorm_test___6' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___6()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_dat" data-bind="redcapDatePicker:data.date_dat" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_dat" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_dat, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_dat, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_dat, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_dat, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___7">
                                        <input id="name_abnorm_test___7" data-bind='redcapChecked: data.name_abnorm_test___7' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___7()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_eluate" data-bind="redcapDatePicker:data.date_eluate" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_eluate" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_eluate, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_eluate, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_eluate, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_eluate, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___8">
                                        <input id="name_abnorm_test___8" data-bind='redcapChecked: data.name_abnorm_test___8' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___8()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_inr" data-bind="redcapDatePicker:data.date_inr" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_inr" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_inr, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_inr, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_inr, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_inr, val: 3"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th rowspan="2">Name of Test</th>
                            <th rowspan="2">Date Specimen Taken</th>
                            <th colspan="4">Results</th>
                        </tr>
                        <tr>
                            <th>Positive</th>
                            <th>Negative</th>
                            <th>Elevated</th>
                            <th>Decreased</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___9">
                                        <input id="name_abnorm_test___9" data-bind='redcapChecked: data.name_abnorm_test___9' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___9()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_iga" data-bind="redcapDatePicker:data.date_iga" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_iga" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_iga, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_iga, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_iga, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_iga, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___10">
                                        <input id="name_abnorm_test___10" data-bind='redcapChecked: data.name_abnorm_test___10' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___10()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_hapto" data-bind="redcapDatePicker:data.date_hapto" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_hapto" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hapto, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hapto, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hapto, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hapto, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___11">
                                        <input id="name_abnorm_test___11" data-bind='redcapChecked: data.name_abnorm_test___11' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___11()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_hemo" data-bind="redcapDatePicker:data.date_hemo" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_hemo" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hemo, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hemo, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hemo, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_hemo, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___12">
                                        <input id="name_abnorm_test___12" data-bind='redcapChecked: data.name_abnorm_test___12' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___12()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_ldh" data-bind="redcapDatePicker:data.date_ldh" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_ldh" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_ldh, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_ldh, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_ldh, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_ldh, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___13">
                                        <input id="name_abnorm_test___13" data-bind='redcapChecked: data.name_abnorm_test___13' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___13()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="smear_date" data-bind="redcapDatePicker:data.smear_date" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_sphere" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_sphere, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_sphere, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_sphere, val: 3"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_sphere, val: 4"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___14">
                                        <input id="name_abnorm_test___14" data-bind='redcapChecked: data.name_abnorm_test___14' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___14()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_troponin" data-bind="redcapDatePicker:data.date_troponin" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_troponin" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_troponin, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_troponin, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_troponin, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_troponin, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___15">
                                        <input id="name_abnorm_test___15" data-bind='redcapChecked: data.name_abnorm_test___15' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___15()[0].label"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_wbc" data-bind="redcapDatePicker:data.date_wbc" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_wbc" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_wbc, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_wbc, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_wbc, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_wbc, val: 3"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label for="name_abnorm_test___16">
                                        <input id="name_abnorm_test___16" data-bind='redcapChecked: data.name_abnorm_test___16' type="checkbox">
                                        <span data-bind="text: fields.name_abnorm_test___16()[0].label"></span>
                                    </label>
                                    <div class="form-group"><label for="abnorm_comment"></label>
                                        <input id="other_specify_test" data-bind="textInput:data.other_specify_test" type="text" class="form-control">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="date_other" data-bind="redcapDatePicker:data.date_other" type="text" class="form-control">
                                </div>
                            </td>
                            <td id="result_other" class="text-center clickable" data-bind="redcapTableCheckbox: data.result_other, val: 1"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_other, val: 0"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_other, val: 2"></td>
                            <td class="text-center clickable" data-bind="redcapTableCheckbox: data.result_other, val: 3"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div data-bind="visible: data.abnorm_test1() == '1'" class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="abnorm_comment">Comments</label>
                            <textarea id="abnorm_comment" class="form-control" data-bind="textInput: data.abnorm_comment"></textarea>
                        </div>
                    </div>
                </div>
                <!--            END ABNORMAL TEST -->
                <div class="row">
                    <div class="col-sm-12"><h4>
                            Blood Culture Performed
                        </h4></div>
                </div>
                <div class="row" data-bind="visible:data.blood_culpro() == 1 || data.blood_culrec() == 1">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td width="15%">Blood Culture Results</td>
                            <td>Date</td>
                            <td>Time</td>
                            <td># Positive</td>
                            <td># Negative</td>
                            <td>Organisms Identified</td>
                            <td>Unit/Lot No.</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-bind="visible:data.blood_culrec() == 1">
                            <td>
                                <div class="checkbox">
                                    <label for="blood_culrec">
                                        <input id="blood_culrec" type="checkbox" data-bind="redcapChecked: data.blood_culrec">
                                        On Recipient
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="reci_date" class="form-control" data-bind="redcapDatePicker: data.reci_date" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="reci_time" class="form-control" data-bind="redcapTime: data.reci_time" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="reci_pos_num" class="form-control" data-bind="textInput:data.reci_pos_num" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="reci_neg_num" class="form-control" data-bind="textInput:data.reci_neg_num" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <select data-bind="
                                                options: fields.reci_spec,
                                                optionsText: 'label',
                                                optionsValue: 'value',
                                                optionsCaption: '---',
                                                value: data.reci_spec"
                                            class="form-control" id="reci_spec">
                                    </select>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr data-bind="visible: data.reci_spec() == '20'">
                            <td colspan="4" style="vertical-align: middle" class="text-right">Explain:</td>
                            <td colspan="3">
                                <div class="form-group">
                                    <textarea data-bind="textInput:data.other_recip_spec" id="other_recip_spec" class="form-control"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr data-bind="visible:data.blood_culpro() == 1">
                            <td>
                                <div class="checkbox">
                                    <label for="blood_culpro">
                                        <input id="blood_culpro" type="checkbox" data-bind="redcapChecked: data.blood_culpro">
                                        On the Product
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_date" class="form-control" data-bind="redcapDatePicker:data.prod_date" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_time" class="form-control" data-bind="redcapTime: data.prod_time" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_pos_num" class="form-control" data-bind="textInput:data.prod_pos_num" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_neg_num" class="form-control" data-bind="textInput:data.prod_neg_num" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_spec" class="form-control" data-bind="textInput:data.prod_spec" type="text">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="prod_unitlot" class="form-control" data-bind="textInput:data.prod_unitlot" type="text">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" data-bind="visible:data.blood_culrec() == 0">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label for="blood_culrec">
                                <input id="blood_culrec" type="checkbox" data-bind="redcapChecked: data.blood_culrec">
                                On Recipient
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible:data.blood_culpro() == 0">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label for="blood_culpro">
                                <input id="blood_culpro" type="checkbox" data-bind="redcapChecked: data.blood_culpro">
                                On the Product
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>