<div class="row">
    <div class="col-sm-push-3 col-sm-6">
        <div class="form-group">
            <label for="ctaerfcanadian_transfusion_reaction_adverse_event_complete">Form Status</label>
            <select data-bind="
                                                options: fields.ctaerfcanadian_transfusion_reaction_adverse_event_complete,
                                                optionsText: 'label',
                                                optionsValue: 'value',
                                                value: data.ctaerfcanadian_transfusion_reaction_adverse_event_complete"
                    class="form-control" id="ctaerfcanadian_transfusion_reaction_adverse_event_complete">
            </select>
        </div>
    </div>
</div>
